/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ========================================= */

/* GENERAL STYLING */

body {
  color: #fff;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

/* ========================================= */

/* LAYOUT */

header,
h1,
.about,
footer {
  backdrop-filter: blur(100px);
}

header {
  align-items: center;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-evenly;
  padding: .4em 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header img {
  width: 40px;
  height: auto;
}

.button {
  border: 1px solid #fff;
  padding: .5em 2em;
}

.button:hover {
  color: #f45d4a;
}

main {
  display: flex;
  font-family: 'Space Mono', monospace;
  justify-content: center;
  min-height: 100%;
  padding: 5em 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  padding: 0 .9em;
  width: 40%;
}

section a {
  text-decoration: underline;
}

section a:hover {
  color: #f45d4a;
}

h1 {
  border: 1px solid #fff;
  font-size: 4rem;
  padding: .5em;
}

h2 {
  margin-bottom: .7em;
}

p {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

.about {
  border: 1px solid #fff;
  padding: 2em;
}

footer {
  border-top: 1px solid #fff;
  bottom: 0;
  padding: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.myname {
  font-family: 'Space Mono', monospace;
}

/* ========================================= */

/* Responsive */

@media (max-width: 720px) {
  h1 {
    font-size: 1.2em;
    padding: .9em;
  }

  section {
    width: 70%;
    margin: 0 4em;
  }

  .about {
    padding: 1.3em;
  }
}