/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}

/*
    8. Avoid text overflows
  */
p,
h1 {
  overflow-wrap: break-word;
}

/* ========================================= */

/* GENERAL STYLING */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  position: fixed;
}

#webgl-fluid {
  height: 100%;
  position: absolute;
  width: 100%;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #f45d4a;
}

svg {
  fill: #fff;
}

svg:hover {
  fill: #f45d4a;
}

/* ========================================= */

/* LAYOUT */

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 24em;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.text-logo {
  font-size: 1.8rem;
  font-weight: 900;
}

main {
  align-items: center;
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
  padding: 0 24em;
}

section {
  backdrop-filter: blur(60px) saturate(200%) brightness(70%);
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.5;
  padding: 2em;
}

main a {
  text-decoration: underline;
}

h1,
.myname {
  font-family: 'JetBrains Mono', monospace;
}

h1 {
  font-size: 3.3rem;
}

.about {
  font-size: 1rem;
  line-height: 1.7;
}

footer {
  bottom: 0;
  padding: 1em;
  position: fixed;
  width: 100%;
}

footer p {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* ========================================= */

/* Mobile */

@media (max-width: 480px) {

  header {
    padding: 1em 2em;
  }

  header a {
    width: 32px;
  }

  .text-logo {
    font-size: 1.4rem;
  }

  main {
    padding: 0 2em;
  }

  h1 {
    font-size: 1.68rem;
  }

  .about {
    font-size: .8rem;
  }

}