/* ========================================= */

/* GENERAL STYLING */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Archivo', sans-serif;
  position: fixed;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #fafa37;
  text-decoration: underline;
  text-underline-offset: 6px;
}

svg {
  fill: #fff;
}

svg:hover {
  fill: #fafa37;
}

/* ========================================= */

/* LAYOUT */

#webgl-fluid {
  height: 100%;
  position: absolute;
  width: 100%;
}

.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
}

section {
  backdrop-filter: blur(60px) saturate(200%) brightness(70%);
  border: 1px solid #fff;
  line-height: 1.5;
  padding: 2em;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

main a {
  text-decoration: underline;
  font-weight: 900;
}

.about {
  line-height: 1.8;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.copy {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 1em;
}

.myname {
  font-weight: 600;
}

strong {
  font-weight: 800;
}

/* ========================================= */

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    padding: 1em 2em;
  }

  main {
    padding: 0 2em;
  }

  h1 {
    font-size: 1.6rem;
  }

  .about {
    font-size: .75rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    padding: 1em 4em;
  }

  main {
    padding: 0 4em;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding: 1em 8em;
  }

  main {
    padding: 0 8em;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 1em 12em;
  }

  main {
    padding: 0 12em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    padding: 1em 16em;
  }

  main {
    padding: 0 16em;
  }

  h1 {
    font-size: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1540px and up) */
@media only screen and (min-width: 1540px) {
  header {
    padding: 1em 28em;
  }

  main {
    padding: 0 28em;
  }

  h1 {
    font-size: 3rem;
  }
}

/* ========================================= */